body{
    background-image: url("imagens/Elevador.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    margin: 0%;
    position: relative;
}

.banner{
    position: relative;
    width: 100%;
    height: 100%;
}


.animated-word {
    top: 340px;
    left: 200px;
    position: absolute;
    right: 600px;
	font-family: Helvetica;
	letter-spacing: 0.4em;
	font-weight: 60;
	font-size: 60px;
	color: #ffffff;
    cursor: pointer;
  
}

.animated-word:hover {
	color: rgb(239, 255, 14);
  
}



form{   
    top: 13px;
    position: relative;
    font-family: Helvetica;
    padding: 10px;    
    border: none;
    border-radius: 8px;
    left: 970px;
    color: rgb(255, 254, 254);
    background-color: rgba(0, 0, 0, 0.575);
    font-size: 25px;
    width: 500px;
    height: 780px; 
    
}

.labels{
    margin-top:  40px;
    font-size: 20px;
}


.formulario_enunciado{
    margin-top:  10px;
    font-size: 20px;
    
}

.formulario_check{
    margin-top:  10px;
    font-size: 20px;
}


.formdados{
    position: absolute;
    border: none;
    border-radius: 3px;
    height: 23px;
    width: 480px;
    font-size: 20px;
    margin: 10px;
}

.formdados:hover{
    height: 27px;
    width: 482px;
}

.seleção:hover{
    height: 27px;
    width: 482px;
}

button{
    margin-left: 20px;
    position: relative;
    left: 5px;
    margin-top: 28px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(245, 196, 35);
    color: rgb(255, 250, 250);
    font-size: 20px;
    border: none;
    
    
    
}

button:hover{
    background-color: rgb(241, 241, 241);
    color: black;
    width: 202px;
    height: 42px;
    
  }



.formulario_rotulo{
    font-size: 25px;
    top: 0px;
}

.seleção{
    height: 23px;
    width: 480px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    height: 23px;
}


/* inline */